.input-textarea {
  resize: none;
  height: 25vh;
  font-size: 1.17em;
  border: 1px solid #d4d8d4;
  border-radius: 6px;
  padding: 6px;

  /* 
   * Because of a bug on Chrome (OSX only) on textareas being grid items
   * (https://github.com/rachelandrew/gridbugs#11-a-textarea-that-is-a-grid-item-collapses-to-zero-width) 
   * we need to wrap it inside a div and thus manually set its width ... 
   */
  width: calc(100% - 14px);
}
