.chops {
  position: relative;
  min-height: 240px;
  margin-top: 24px;
}

.chops-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chop-text {
  padding: 12px;
  border-radius: 6px;
  background-color: #d4d8d4;
  box-shadow: 1px 1px 8px 1px #a19c9c;
}
